.card-container, .yotpo-header-container {
  background: #FFFBF2 !important;
}

.top-bar__richtext a {
  color: white;
    font-weight: 600;
}

/* 
==============================================
TABLE OF CONTENTS
==============================================
1. Base Styles & Utilities
2. Typography
3. Layout & Header
4. Product Pages
5. Collection Pages
6. Footer
7. Components
8. Animations
9. Media Queries
==============================================
*/

/* =============================================
   1. Base Styles & Utilities
   ============================================= */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.position-relative {
  position: relative;
}

/* Font Face Declarations */
@font-face {
  font-family: 'Enkel';
  src: url('https://cdn.shopify.com/s/files/1/0733/2659/2251/files/Enkel-Thin.woff2') format('woff2'),
       url('https://cdn.shopify.com/s/files/1/0733/2659/2251/files/Enkel-Thin.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Enkel';
  src: url('https://cdn.shopify.com/s/files/1/0733/2659/2251/files/Enkel-Regular.woff2') format('woff2'),
       url('https://cdn.shopify.com/s/files/1/0733/2659/2251/files/Enkel-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Enkel';
  src: url('https://cdn.shopify.com/s/files/1/0733/2659/2251/files/Enkel-SemiBold.woff2') format('woff2'),
       url('https://cdn.shopify.com/s/files/1/0733/2659/2251/files/Enkel-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Enkel';
  src: url('https://cdn.shopify.com/s/files/1/0733/2659/2251/files/Enkel-Bold.woff2') format('woff2'),
       url('https://cdn.shopify.com/s/files/1/0733/2659/2251/files/Enkel-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Base font styling */
body,
h1, h2, h3, h4, h5, h6,
p, div, span,
.button, .age-gate__confirm_btn {
  font-family: 'Enkel', sans-serif !important;
}

/* =============================================
   2. Typography
   ============================================= */

/* Paragraph styles */
p {
  font-size: 20px;
  font-weight: 600;
}

/* Heading styles */
h1 {
  font-weight: 700 !important;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.1;
}

h3, h4 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.5;
}

h3 {
  color: #169FB0;
}

/* Button typography */
.button, .age-gate__confirm_btn {
  font-weight: 600;
}

/* Product typography */
.product-thumbnail__title {
  font-size: 20px;
  font-weight: 600;
}

.product-thumbnail__price {
  color: #7B6154;
}

.price .money, .compare-at-price .money {
  font-weight: 600;
}

.thumbnail-sticker__text {
  font-size: 1.5em;
  font-weight: 600;
}

.options-selection__option-name {
  font-weight: 500;
}

.page-main a, .shopify-policy__container a {
  text-decoration: underline;
}

.shopify-policy__container {
  padding-top: 40px;
}

.icon-container .image-element__wrap {
    margin-left: 0;
}

/* =============================================
   3. Layout & Header
   ============================================= */

/* Top Bar */
.top-bar__content {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  width: 100%;
}

.top-bar__left {
  justify-content: flex-start;
}

.top-bar__richtext {
  text-align: center;
}

.top-bar__right {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.top-bar__icons .header-cart>a {
  padding: 0 1em 0 .2em;
}

.top-bar__social {
  padding-left: 1em;
}

/* Menu */
.header__menu--right {
  padding-right: 90px !important;
}

.header__menu--left {
  padding-left: 90px !important;
}

.header__brand {
  padding: 1rem .75rem;
}

.header-menu-wrapper {
  border-bottom: 1px solid #7D6355;
}

/* Menu Sticky */
.is-sticky .header__icons {
  width: 5%;
}

/* Mobile Menu */
.mobile-menu a {
  color: #7D6355;
}

.mobile-menu__content {
  z-index: 5000;
  position: inherit;
}

.header__link .disclosure__toggle, .header__link .disclosure__button {
    color: #ea7552 !important;
}

/* =============================================
   4. Product Pages
   ============================================= */

/* Product Description */
.product__description h2 {
  font-size: 24px;
}

/* Product Gallery */
.gallery-background {
  background-color: #ea7552 !important;
}

.product-breadcrumb {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.product-gallery__thumbnail {
  background-color: #FAF8F9;
  border-radius: 20px;
}

.product-gallery__main {
  margin-right: 60px;
}

/* Product Icon Overlay */
.featured-product__images {
  position: relative;
}

.product-icon-overlay {
  position: absolute;
  top: 10px;
  left: -80px;
  z-index: 10;
  max-width: 80px;
}

.product-icon {
  width: 100%;
  height: auto;
}

/* Swatches */
.swatch .color label {
  min-width: 100px;
  height: 100px !important;
}

.swatch input:checked+.swatch-element {
  border-color: white;
  box-shadow: unset;
  border: #fff 3px solid;
  border-radius: 10px;
}

.swatch-element.color, .swatch-element.color label {
  border: unset;
}

/* Quantity Selector */
.quantity-wrapper.quantity-style--box {
  border-radius: 35px;
}

.product-quantity-box.purchase-details__quantity {
  width: calc(30% - 12px);
}

.product-quantity-box .input {
  background-color: transparent;
  color: #7D6355;
}

.quantity-wrapper.quantity-style--box .quantity-input-control input {
  border-top: 3px solid #7D6355;
  border-bottom: 3px solid #7D6355;
}

.quantity-plus.button .icon, 
.quantity-minus.button .icon {
  fill: #7D6355;
}

.quantity-plus.button:hover .icon, 
.quantity-minus.button:hover .icon {
  fill: #EA7552;
}

.quantity-wrapper.quantity-style--box.is-medium .quantity-plus, 
.quantity-wrapper.quantity-style--box.is-medium .quantity-minus, 
.quantity-wrapper.quantity-style--box .quantity-plus, 
.quantity-wrapper.quantity-style--box .quantity-minus {
  width: 50px;
}

/* Buttons */
.button.is-inverse, 
.is-inverse.age-gate__confirm_btn {
  background-color: transparent !important;
  border: #7D6355 3px solid;
  color: #7D6355;
}

.button--add-to-cart, 
a.button--add-to-cart.button {
  border: 3px solid #fff;
  border-radius: 35px;
}

/* Featured Products */
.featured-collection-section .thumbnail-swatch,
.recommended-products-section .thumbnail-swatch {
  display: none;
}

.product-thumbnail__button-container {
  padding-top: 20px;
}

/* =============================================
   5. Collection Pages
   ============================================= */

.collection__content .thumbnail-swatch {
  display: none;
}

.thumbnail-sticker.thumbnail-sticker--sale, 
.thumbnail-sticker.thumbnail-sticker--sold-out {
  border-radius: 30px;
  padding: 10px 30px;
}

/* =============================================
   6. Footer
   ============================================= */

.footer__heading {
  font-size: 30px;
  font-weight: 600;
  color: #EA7552;  
}

.footer__menu-link {
  font-weight: 600;
}

.footer__credits p {
  color: #7D6355;
  font-size: 15px;
  font-weight: 600;
}

.footer__credits {
  font-weight: 600;
}

.content:not(:last-child){
    margin-bottom: 0; 
}

.footer__credits a {
  text-decoration: underline;
}


/* =============================================
   7. Components
   ============================================= */

/* Mini Cart */
.ajax-cart__cart-title, 
.ajax-cart__taxes-shipping-message {
  color: #7B6154 !important;
}

.ajax-cart__form {
  overflow: auto;
}

.ajax-cart__quantity-box.product-quantity-box .quantity-wrapper.quantity-style--box .quantity-input-control input {
  border-top: 3px solid #7B6154;
  border-bottom: 3px solid #7B6154;
}

.ajax-cart__quantity-box.product-quantity-box .input {
  color: #7B6154;
  fill: #7B6154;
}

.ajax-cart__quantity-box.product-quantity-box .quantity-minus.button .icon {
  color: #7B6154;
  fill: #7B6154;
}

.cart__cost-summary {
  background: white;
}

/* Accordion */
.accordion__button {
  color: #ffffff;
  background-color: #7d6355;
}

.faq-accordion dt button {
  padding: 20px;
  border-radius: 10px;
}

.accordion__button .icon {
  margin-right: 30px !important;
}

.accordion dt, 
.faq-accordion dt {
  border-radius: 20px;
}

.ajax-cart {
    font-weight: 600;
}

/* =============================================
   8. Animations
   ============================================= */

/* Common base class */
.animate-on-scroll {
  opacity: 0; /* Start invisible */
}

/* Fade up animation */
@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-up.animated {
  animation: fadeInFromBottom 0.8s ease-out forwards;
}

/* Fade down animation */
@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-down.animated {
  animation: fadeInFromTop 0.8s ease-out forwards;
}

/* Fade left animation */
@keyframes fadeInFromRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-right.animated {
  animation: fadeInFromRight 0.8s ease-out forwards;
}

/* Fade right animation */
@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-left.animated {
  animation: fadeInFromLeft 0.8s ease-out forwards;
}

/* Delay classes - work with all animation types */
.delay-1.animated {
  animation-delay: 0.2s;
}

.delay-2.animated {
  animation-delay: 0.4s;
}

.delay-3.animated {
  animation-delay: 0.6s;
}

.delay-4.animated {
  animation-delay: 0.8s;
}

/* =============================================
   9. Media Queries
   ============================================= */

@media (max-width: 768px) {
  /* Typography */
  h1 {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
  }
  
  h2 {
    font-size: 40px;
    line-height: 1.2;
  }
  
  h3, h4 {
    font-size: 22px;
    line-height: 1.2;
  }
  
  /* Why Akrrush Page */
  .why-akrrush-page h1 {
    font-size: 30px;
    line-height: 1.2 !important;
  }
  
  /* Footer */
  .footer__content.section.has-background {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media only screen and (max-width: 798px) {
  /* Product icon overlay */
  .product-icon-overlay {
    display: none;
  }
  
  /* Product images */
  .product__images {
    margin-bottom: 0;
  }
  
  /* Caption content */
  .caption-content {
    padding: 0 30px !important;
  }
  
  /* Footer */
  .footer__logo-wrapper.is-small {
    max-width: 60%;
  }
}